/* ------------------------------------------------------------------ sidenav */

.sidenav {
  height: 100vh;
}

/* --------------------------------------------------------------------- logs */

.logs {
  background: #000;
  color: #00ff41;
  overflow: auto;
  padding: 15px;
  width: 100%;
  height: 100%;

  .log {
    color: #fff;
  }

  .log[data-type="prompt"] {
    color: #00ff41;
    margin: 15px 0;
  }
}

