<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/main.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline';" />
    <title>Comandante</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <nav class="sidenav">
          <button class="btn btn-block" :style="{ color: command.color}" v-for="command in commands" @click="sendCommand(command.command)">{{ command.label }}</button>
          <button class="btn btn-block" @click="abort()">Abort</button>
          <button class="btn btn-block" @click="clear()">Clear</button>
          <label for="font-size">Font Size</label>
          <input id="font-size" type="range" min="10" max="20" step="1" v-model="fontSize" @change="saveSettings">
          <label for="auto-clear">Auto Clear</label>
          <input id="auto-clear" type="checkbox" v-model="autoClear" @change="saveSettings">
          <label for="auto-scroll">Auto Scroll</label>
          <input id="auto-scroll" type="checkbox" v-model="autoScroll" @change="saveSettings">
        </nav>
        <div class="logs">
          <pre class="log" v-for="log in logs" :data-type="log.type" :style="{ fontSize: fontSize + 'px' }">{{ log.message }}</pre>
        </div>
      </div>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/storage.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          storage: null,
          fontSize : 11,
          autoClear: true,
          autoScroll: true,
          commands: [
            { label: 'remove all containers', command: 'docker ps -aq | xargs docker rm -f', color: 'red'},
            { label: 'containers', command: 'docker ps -a', color: 'black'},
            { label: 'images', command: 'docker images', color: 'black'},
            { label: 'networks', command: 'docker network ls', color: 'black'},
            { label: 'volumes', command: 'docker volume ls', color: 'black'},
          ],
          logs: []
        },
        mounted() {
          this.storage = new Storage()
          this.loadSettings()
          this.registerEvents()
        },
        methods: {
          registerEvents () {
            const logs = document.querySelector('.logs')

            window.api.on('logs', (event, log) => {
              this.logs.push(log)
              requestAnimationFrame(() => {
                if (this.autoScroll) {
                  logs.scrollTop = logs.scrollHeight
                }
              })
            })
          },
          sendCommand (command) {
            if (this.autoClear) {
              this.clear()
            }
            window.api.send('command', command)
          },
          abort () {
            window.api.send('abort')
          },
          clear () {
            this.logs = []
          },
          loadSettings () {
            this.fontSize = this.storage.getItem('font-size') ?? 11
            this.autoClear = this.storage.getItem('auto-clear') ?? true
            this.autoScroll = this.storage.getItem('auto-scroll') ?? true
          },
          saveSettings () {
            this.storage.setItem('font-size', this.fontSize)
            this.storage.setItem('auto-clear', this.autoClear)
            this.storage.setItem('auto-scroll', this.autoScroll)
          }
        }
      })
    </script>
  </body>
</html>
