<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'unsafe-inline';" />
    <title>Commandante</title>
  </head>
  <body>
    <div id="app">
      <div class="flex-row flex-no-wrap">
        <nav class="sidenav">
          <button class="btn btn-block" v-for="shortcut in shortcuts" @click="sendCommand(shortcut.command)">{{ shortcut.label }}</button>
          <button class="btn btn-block" @click="abort()">Abort</button>
          <button class="btn btn-block" @click="clear()">Clear</button>
          <label for="font-size">Font Size</label>
          <input id="font-size" type="range" min="10" max="20" step="1" v-model="fontSize" @change="saveSettings">
          <label for="auto-clear">Auto Clear</label>
          <input id="auto-clear" type="checkbox" v-model="autoClear"  @change="saveSettings">
        </nav>

        <form class="cli flex-grow" @submit="submitCommand">
          <div class="cli-logs">
            <div class="cli-log-container" v-for="log in logs">
              <pre class="cli-log" :data-type="log.type" :style="{ fontSize: fontSize + 'px' }">{{ log.message }}</pre>
            </div>
          </div>
          <input class="cli-input" type="text" v-model="command">
        </form>
      </div>
    </div>
    <script src="./js/vue.min.js"></script>
    <script src="./js/local-storage.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          localStorage: new LocalStorage(),
          command: '',
          shortcuts: [
            { label: 'containers', command: 'docker ps -a'},
            { label: 'images', command: 'docker images'},
            { label: 'networks', command: 'docker network ls'},
            { label: 'volumes', command: 'docker volume ls'}
          ],
          logs: [],
          fontSize : 14,
          autoClear: false
        },
        created() {
          this.loadSettings()
        },
        mounted() {
          this.registerEvents()
        },
        methods: {
          loadSettings () {
            console.log(localStorage.getItem('font-size'), localStorage.getItem('auto-clear'))
            this.fontSize = localStorage.getItem('font-size') || 14
            this.autoClear = localStorage.getItem('auto-clear') || false
          },
          registerEvents () {
            const cliLogs = document.querySelector('.cli-logs')

            window.api.on('logs', (event, log) => {
              this.logs.push(log)
              requestAnimationFrame(() => {
                cliLogs.scrollTop = cliLogs.scrollHeight
              })
            })

            window.api.on('clear', (event) => {
              this.clear()
            })
          },
          sendCommand (command) {
            if (this.autoClear) {
              this.clear()
            }
            window.api.send('command', command)
          },
          abort () {
            window.api.send('abort')
          },
          clear () {
            this.logs = []
          },
          submitCommand (e) {
            e.preventDefault()
            this.sendCommand(this.command)
            this.command = ''
          },
          saveSettings () {
            this.localStorage.setItem('font-size', this.fontSize)
            this.localStorage.setItem('auto-clear', this.autoClear)
          }
        }
      })
    </script>
  </body>
</html>
