/* ------------------------------------------------------------------- sidenav */

.sidenav {
  height: 100vh;
}

.sidenav .btn {
  display: block;
  width: 100%;
}

/* ------------------------------------------------------------------ buttons */

.btn {
  padding: 12px 6px;
}

/* ------------------------------------------------------------------- layout */

.main {
  height: 100vh;
}

/* -------------------------------------------------------------------- forms */

input {
  width: 100%;
}

textarea {
  font-family: monospace;
}

/* ---------------------------------------------------------------------- cli */

.cli {
  height: 100%;
  position: relative;
}

#uilogs {
  background: #000;
  color: #00ff41;
  font-size: 12px;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.cli-input {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
