/* ------------------------------------------------------------------ sidenav */
.sidenav {
  height: 100vh;
  padding: 15px 0; }

/* --------------------------------------------------------------------- logs */
.logs {
  margin-top: 15px;
  background: #000;
  color: #00ff41;
  overflow: auto;
  padding: 15px;
  width: 100%;
  height: calc(100vh - 30px); }
  .logs .log {
    width: 100%;
    color: #fff; }
  .logs .log[data-type="prompt"] {
    color: #00ff41;
    margin: 15px 0; }
